//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #0075f2; /*blue crayola*/
$danger: #FF3864; /*radical red*/
$info: #00cfe8; /*sky blue crayola*/
$warning: #F6AE2D; /*honey yellow*/
$success: #00C081; /*ocean green*/

$font-family-sans-serif: 'Poppins', Helvetica, Arial, sans-serif !default;
$font-family-monospace: 'Poppins', Helvetica, Arial, sans-serif !default;
$headings-font-family: 'Montserrat', sans-serif !default;
