@font-face {
  font-family: 'streamline-regular';
  src:  url('fonts/streamline-regular.eot?6wtqlo');
  src:  url('fonts/streamline-regular.eot?6wtqlo#iefix') format('embedded-opentype'),
    url('fonts/streamline-regular.woff2?6wtqlo') format('woff2'),
    url('fonts/streamline-regular.ttf?6wtqlo') format('truetype'),
    url('fonts/streamline-regular.woff?6wtqlo') format('woff'),
    url('fonts/streamline-regular.svg?6wtqlo#streamline-regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.sti-regular {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'streamline-regular' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sti-house-1:before {
  content: "\ea77";
}
.sti-multiple-actions-key-1:before {
  content: "\e900";
}
.sti-multiple-neutral-2:before {
  content: "\e901";
}
